<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
   Hello world
  </h1>
</div>
<h2>This is a list of questions: </h2>
<h2>
  <a target="_blanc" href="http://localhost/data.json">json</a>
</h2>
<ul class="backend">
    <li *ngFor=" let back of backend" (click)="onSelect(back)" [class.selected]="back === selectedBack">
      <span class="badge">{{back.id}}</span> {{back.question}}
    </li>
  </ul>
  <div *ngIf="selectedBack">
    <h2>{{selectedBack.question}} </h2>
    <!--<div><label>id: </label>{{selectedBack.id}}</div>
    <div>
      <label>question: </label>
      <input [(ngModel)]="selectedBack.question" placeholder="question"/>
    </div>
  </div>
</ul>-->



